@page
@model Heera.Pages.Authorization.UsersModel
@await Html.PartialAsync("_ActionBar")
<h1>Buttons Check</h1>
<form method="post">
    <div>
        <label for="TextBox1">Value 1:</label>
        <input type="text" id="TextBox1" name="Column1" />
    </div>
    <div>
        <label for="TextBox2">Value 2:</label>
        <input type="text" id="TextBox2" name="Column2" />
    </div>
    <div>
        <label for="TextBox3">Value 3:</label>
        <input type="text" id="TextBox3" name="Column3" />
    </div>
   
</form>
    

